.about {
  height: 840px;
  padding-top: 120px;
  padding-bottom: 120px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    width: 400px;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    width: 570px;
    padding-top: 6px;
  }
  &__title {
    text-align: left;
    padding-left: 10px;
    &::before {
      left: 0;
    }
  }
  &__subtitle {
    text-align: left;
    margin-top: 6px;
    margin-bottom: 24px;
    &:after {
      left: 0;
      bottom: 0;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(2, 116px);
    gap: 20px 50px;
    margin-top: 40px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  &__image {
    position: relative;
    @include before_circle;
    &:before {
      top: 0;
    }
  }
  &__img {
    margin-left: 15px;
    margin-top: 15px;
  }
  &__content {
    width: 200px;
  }
}