.skils {
  padding-top: 120px;
  padding-bottom: 120px;
  &__content {
    padding-top: 85px;
    padding-bottom: 120px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 270px);
    gap: 13px 13px;
  }
  &__item {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #000000;
    &-title {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
  &__indicators {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 70px);
    grid-auto-rows: 70px;
    gap: 30px 45px;
  }
  &__indicator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding-top: 8px;
    &-head {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      position: relative;
      margin-left: 14px;      
      @include before_circle;
      &::before {
        top: -7.5px;
        left: -14px;
      }
    }
    &-bar {
      position: relative;
      height: 14px;
      width: 100%;      
      border-radius: 4px;
      background: #E8E4DE;
      z-index: 1;
    }
    &-bar-level {
      position: absolute;
      background: $main-color;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 5;
    }
  }
}