.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  &_fz48 {
    font-size: 48px;
  }
  &_fz20 {
    font-size: 20px;
    line-height: 30px;
  }
  &_fz16 {
    font-size: 16px;
    line-height: 24px;
  }
  &_fz14 {
    font-size: 14px;
    line-height: 21px;
  }
  &_fz12 {
    font-size: 12px;
    line-height: 18px;
  }  
}

.section_title {
  position: relative;
  text-align: center;
  @include before_circle;
  &:before {
    left: calc(50% - 18px);
  }
}

.section_subtitle {
  position: relative;
  text-align: center;
  @include after_line;
  &:after {
    left: calc(50% - 30px);
  }
}